.background {
    background-image: url("/../../assets/background.jpeg");
    overflow-x: hidden;
    background-color: hidden;
}

*{
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-family: Roboto;
    background-color: transparent;

}

h6{
    font-size: smaller;
    font-style: italic;
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    background-color: transparent;
}