<!--<p>page-not-found works!</p>-->
<body class="h-100">

    <div class="background container-fluid d-flex text-center pt-3 pb-4" style="width: 99,9vw; height:100%; margin: 0; padding: 0;
    background-size: auto; background-repeat: repeat; background-position: center center; overflow: hidden;
    ">

        <div class="contenedor titulo text-center pb-4 justify-content-center text-center">
            <p id="titulo"></p>
            <br>
            <br>
            <img src="/../../assets/404.gif">
            <div class="centrado">404</div>
            <br>
            <br>

            <h6>"404, Page not found"</h6>
        </div>
        


    </div>
    


    
</body>