<!--<p>navbar-menu works!</p>-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

<div class="col logo bg-black text-center pt-3 pb-3 sticky">
    <img src="/../../assets/logo.png" class="logotipo col-lg" (click)="navegarWelcome()" style="width: 10%;">
</div>
<nav class="navbar navbar-expand-lg navbar-dark sticky">
    <div class="container-fluid justify-content-start justify-content-lg-center">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav bordes">
<!--BOTON HOME-->
          <li class="nav-item text-center">
            <a class="nav-link active" (click)="navegarHome()" style="justify-content: center" aria-current="page"> HOME </a>
          </li>
<!--BOTON STARSHIPS-->
          <li class="nav-item text-center starshiptroopers">
            <a class="nav-link active" (click)="navegarStarships()" style="justify-content: center"  aria-current="page"> STARSHIPS </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>