<!--<p>navbar-menu works!</p>-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


<!--LOGO GRANDE STAR WARS (aparece desde el inicio hasta que la pantalla se hace pequeña 'lg')-->
<div class="contenedor col logo bg-black text-center pt-3 pb-3 sticky d-none d-lg-flex">
    <img src="/../../assets/logo.png" class="logotipo" (click)="navegarWelcome()" style="width: 10%;">

<!--BOTON LOGIN Y SIGNUP-->
    <div class="row centrado d-none d-lg-flex">
        <div *ngIf="!loginControl" class="link col d-flex justify-content-end me-5 m-0 p-0">
          <app-login class="but" routerLink="home"></app-login>//
          <app-signup class="but" routerLink="home"></app-signup>
        </div>

        <div *ngIf="loginControl" class="col d-flex justify-content-end me-5 pe-5">
          <p type="button" class="button" (click)="logout()" routerLink="home">LOG OUT</p>
        </div>
        <div class="connect row d-flex justify-content-end pt-1 me-5 pe-5">
          <!--Welcome, {{ userLogged }}-->
        </div>
      <!--<button class="button"(click)="logIn()">LOG IN</button><button class="button" (click)="signUp()">SIGN UP</button>-->
    </div>
</div>


<!--LOGO HORIZONTAL STAR WARS (aparece cuando es menor de 'lg' pantalla toogle)-->
<div class="contenedor col logo bg-black text-center pt-3 pb-3 sticky d-lg-none">
  <img src="/../../assets/logoh.png" class="logotipo" (click)="navegarHome()" style="width: 20%;">
  <div class="centrado d-none d-lg-flex">
    <!--<button class="button lgsu"(click)="logIn()" >LOG IN</button><button class="button lgsu"(click)="signUp()">SIGN UP</button>-->
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark sticky">
    <div class="container-fluid justify-content-start justify-content-lg-center">
      
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
       
        <span class="navbar-toggler-icon"></span>

      </button> 

      <div class="collapse navbar-collapse m-0" id="navbarSupportedContent">

        <ul class="navbar-nav bordes">

<!--BOTON HOME NAVBAR / DESPLEGABLE-->

          <li class="nav-item text-center d-none d-lg-flex">
            <a class="nav-link active" (click)="navegarHome()" style="justify-content: center" aria-current="page"> HOME </a>
          </li>

          <li class="nav-item text-center pb-4 d-lg-none">
            <a class="nav-link active" (click)="navegarHome()" style="justify-content: center" aria-current="page"> HOME </a>
          </li>
          
<!--BOTON STARSHIPS NAVBAR / DESPLEGABLE-->

          <li class="nav-item text-center starshiptroopers d-none d-lg-flex">
            <a class="nav-link active" (click)="navegarStarships()" style="justify-content: center" aria-current="page"> STARSHIPS </a>
          </li>

          <li class="nav-item text-center starshiptroopers pb-4 d-lg-none">
            <a class="nav-link active" (click)="navegarStarships()" style="justify-content: center" aria-current="page"> STARSHIPS </a>
          </li>

          <div *ngIf="!loginControl" class="link col d-flex justify-content-end me-5 m-0 p-0" class="nav-item text-center d-lg-none">

<!--BOTON LOGIN DESPLEGABLE-->

            <li class="nav-item text-center d-lg-none">
              <app-login routerLink="home" class="nav-item nav-link active text-center d-lg-none"></app-login>
            </li>

<!--BOTON SIGNUP DESPLEGABLE-->

            <li class="nav-item text-center d-lg-none">
            <app-signup routerLink="home" class="nav-item nav-link active text-center d-lg-none"></app-signup>
            </li>
          </div>

           <!--<li class="nav-item text-center d-lg-none">
            <a class="nav-link active" (click)="logIn()" style="justify-content: center"  aria-current="page"> LOG IN </a>
          </li>-->

          <!--<li class="nav-item text-center d-lg-none">
            <a class="nav-link active" (click)="signUp()" style="justify-content: center"  aria-current="page"> SIGN UP </a>
          </li>-->



          <!--<li class="nav-item text-center d-lg-none">
            <a class="nav-link active" (click)="logIn()" style="justify-content: center"  aria-current="page"> LOG IN </a>
          </li>-->

          <!--<li class="nav-item text-center d-lg-none">
            <a class="nav-link active" (click)="signUp()" style="justify-content: center"  aria-current="page"> SIGN UP </a>
          </li>-->

        </ul>
      </div>
    </div>
  </nav>