@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    font-size: small;
    letter-spacing: 1px;
    padding-right: 0;
    padding-left: 0;
    padding: 0px 0px;
    margin: 0px;
    --bs-gutter-x: 0;

}



.container{
    padding-right: 0;
}

.connect{
    font-size: 20%;
    margin: 0;
    top: 50%;
}

.lgsu{
    background-color: transparent;
}

.navbar{
    
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 0;
    background-color: black;
}

a.nav-link.active {
    color: grey;
    background-color: transparent;
}

a.nav-link.active:hover {
    color:blanchedalmond
}

a.nav-link.active:hover {
    color:blanchedalmond
}

.nav-item{
    border-left: 1px solid grey;
    background-color: transparent;
}

.starshiptroopers{
    border-right: 1px solid grey;
    background-color: transparent;
}


.logo{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background: url("/../../assets/background.jpeg");
    
}


.navbar-dark .navbar-nav .nav-link.active{
    color: grey;
}

.navbar-dark .navbar-nav .nav-link.active:hover{
    color: blanchedalmond;
    /*border-bottom: 1px solid rgb(79, 179, 250, 0.913);*/
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}


.invisible {
    visibility: hidden;
  }

.navbar-collapse {
    flex-grow: 0;
    
}


.contenedor{
    position: relative;
    display: block;
    text-align: center;
}

.col{
    overflow: hidden;
}

button{
    color: aliceblue;
    background-color: transparent;
}

.centrado{
    position: absolute;
    top: 40%;
    right: 15%;
    color: aliceblue;
    background-color: transparent;
}


button:hover{
    color: rgba(79, 179, 250, 0.913);
    
}


@media screen and (min-width: 992px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .container-fluid{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 992px){
    .container-fluid{
        display: 0;
    }



    .nav-item{
        border-left: 0;
    }
    
    .starshiptroopers{
        border-right: 0;
    }

    .logo{
        src: hidden;
        src: url("/../../assets/logo_horizontal.png");
    }


}

