<!--<p>card-starships works!</p>-->
<!--Ficha de Cada Nave-->

<div class="container d-flex justifiy-content-center">

    <div class="card text-light bg-black" style="max-width:900px;">
        <img class="sw card-img-top img-fluid" style="border-bottom: 2px solid rgb(79, 179, 250, 0.913);" alt="{{cardNave.name}} image not founded" src="{{urlImage}}{{idDeNaves}}.jpg">

        <div class="card-body m-0 justifiy-content-center">
            <div class="titulo card-title fw-bolder">{{cardNave.name}}</div>
            <span class="card-text">{{cardNave.starship_class}}</span>
            <p></p>
            <div class="row">
                <div class="col-12">
                    <span class="card-text">Model: {{cardNave.model}} </span>
                    <br>
                    <span class="card-text">Cost in credits: {{cardNave.cost_in_credits}} </span>
                    <br>
                    <span class="card-text">Atmospheric Speed: {{cardNave.max_atmosphering_speed}} </span>
                    <br>
                    <span class="card-text">Manufacturer: {{cardNave.manufacturer}} </span>
                    <br>
                    <span class="card-text">Length: {{cardNave.length}}</span>
                    <br>
                    <span class="card-text">Crew: {{cardNave.crew}}</span>

                </div>

                
            </div>
        </div>
    </div>

</div>
