@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

app-navbar-menu {position: sticky;top: 0;}


*{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

h2{
    
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    font-size: xx-large;
}

h5{
    
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    font-size: larger;
}


.jedi {
    color: grey;
    background-color: black;

}

.jedi:hover {
    color: blanchedalmond;
    background-color: black;
    box-shadow: 0 8px 30px rgb(3, 211, 3);
    transition: all 0.2s ease;

}

.jedi:active {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 21);
}

.sith {
    color: grey;
    background-color: black;

}

.sith:hover {
    color: blanchedalmond;
    background-color: black;
    box-shadow: 0 8px 30px rgb(223, 0, 0);
    transition: all 0.2s ease;

}

.sith:active {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}


.inicial{
    background-color: none;
}