<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

<!--<p>signup works!</p>-->

<div  class="container">
    <ng-template #abrirModal let-signupModal>
        <div class="bg-dark" role="document">
          <div class="done modal-content rounded-5 bg-dark border-dark">
            <div class="modal-header" style="border: none">
              <button type="button" class="btn-close btn-close-white align-self-end close" aria-label="Close" (click)="signupModal.dismiss()"></button></div>
            <div class="modal-body" style="border: none">
              <div class="d-flex justify-content-center align-items-center">
                <img src="../../../assets/logo login.png"style="width: 60%"/>
              </div>
            </div>



            <form class="text-center form-group rounded m-4 " [formGroup]="signupForm"><label class="text-center modal-body form-laber fs-3">CREATE YOUR ACCOUNT</label>
              <input type="text" class="modal-body form-control" placeholder="Your Name" formControlName="nameForm"/>
            
              <span class="text-center form-text text-danger" *ngIf="validacionOK('nameForm') && submit">* Required field, at least 3 characters</span>
              <input type="email" class="modal-body form-control mt-3" placeholder="Email Address" formControlName="emailForm"/>
         
              <span class="text-center form-text text-danger" *ngIf="validacionOK('emailForm') && submit">* Required field, enter a valid Email</span>
      
              <input type="password" class="modal-body form-control mt-3" placeholder="Password" formControlName="passForm"/>
      
              <span class="text-center form-text text-danger" *ngIf="validacionOK('passForm') && submit">* Required field, at least 4 characters</span>
      
              
              <div class="terms modal-body row">
                <input type="checkbox" class="checkbox form-check-input form-control col-1" formControlName="termsForm"/>
                <p class="form-check-label small col">By creating an account, you agree to our terms of Use, and acknowledge that you have read our Privacy Policy  and UK & EU Privacy Rights.</p>
              </div>
           
              <span class="text-center errorTerms form-text text-danger"*ngIf="validacionOK('termsForm') && submit">* Please, accept the terms of use</span>
            </form>
      
            <div class="modal-footer row mx-4" style="border: none">
              <button type="button" class="btn btn-secondary" (click)="submitSignup()">Sign Up</button>
      
              <div class="text-center">
                <div class="small haveAccount">Already have an account?
                  <app-login class=""(click)="signupModal.dismiss()"></app-login>
                </div>
              </div>


            </div>
          </div>
        </div>
      </ng-template>
      
      <p class="signUp" type="button" (click)="signupModal.open(abrirModal)">SIGN UP</p>
      
</div>
