<!--<p>login works!</p>-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">




<div class="container justify-content-center">
  <ng-template #contenido let-loginModal>
    <div class="bg-dark" role="document">
      <div class="modal-content rounded-5 bg-dark border-dark">
        <div class="modal-header" style="border: none">
          <button
            type="button" class="btn-close btn-close-white align-self-end close button" aria-label="Close"(click)="loginModal.dismiss()"
          ></button>
        </div>
 
        
        <div class="modal-body" style="border: none">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../../../assets/logo login.png"style="width: 60%"
            />
          </div>
        </div>
  
        
        <form class="text-center form-group rounded m-4" [formGroup]="loginForm">
          <label class="titley modal-body form-label"
            >ENTER YOUR EMAIL ADDRESS</label>
          <input type="email" class="modal-body form-control" placeholder="Email Address" formControlName="emailForm"/>
  
          <span class="text-center form-text text-danger" 
          *ngIf="validacionOK('emailForm') && submit">* Enter a valid Email</span>
          <p>
          </p>
          <label class="titley modal-body form-label"
            >ENTER YOUR PASSWORD</label
          >
          <input type="password" class="modal-body form-control" placeholder="Password" formControlName="passForm"/>
  
          <span class="form-text text-danger" *ngIf="validacionOK('passForm') && submit">* Please enter a valid password, at least 4 characters</span>
        </form>
       

        <div class="modal-footer row mt-4 mx-3 px-4" style="border: none">
          <button type="button" class="btn btn-secondary" (click)="login()">LOGIN</button>
          <div class="text-center mt-4">
            <div class="small stillAccount">You still don't have an account?

              <app-signup
                class=""(click)="loginModal.dismiss()"
              ></app-signup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
  <p class="logIn button" type="button" (click)="loginModal.open(contenido)">LOG IN</p>
  
</div>