<!--<p>home works!</p>-->
<body class="h-100">
    
    <div class="background container-fluid d-flex text-center pt-0" style="width: 99,9vw; height:100%; margin: 0; padding: 0;
    background-size: auto; background-repeat: repeat; background-position: center center; overflow: hidden;">

        <div class="titulo text-center pb-4 justify-content-center text-center">
            <video class="vid" autoplay muted width="70%" height="auto" autoplay="true" loop="true" type="video/mp4" muted="true">
                <source src="/../../assets/intro.mp4" poster="/../../assets/img1.png" autoplay="true" loop="true" type="video/mp4"style="width:auto; height:auto">
                <!--<source src='https://im5.ezgif.com/tmp/ezgif-5-e339d978b1.mp4' type="video/mp4"style="width:auto; height:auto; backround-size:100px">-->
                <!--<source autoplay src="{{videointro()}}" poster="/../../assets/img1.png" autoplay="true" loop="true" type="video/mp4"style="width:100%; height:auto">-->
            </video>
            <br>
            <h6>"May the source be with you"</h6>
        </div>
    </div> 

   
</body>    
    

