<!--<p>starships works!</p>-->
<body class="background container-fluid d-flex bg-dark text-start pt-3" style="width: 99,9vw; height:100%; margin: 0; padding: 0;
    background-size:auto; background-repeat: repeat; background-position: center center; overflow: hidden;">

    <div class="container mt-4">

        <div class="row d-flex justify-content-center text-start mb-3">

            <div *ngFor="let naves of mostrar" class="col-8"> 

                    <div class="card-body rounded border border-white">

                        <p class="card-title">
                            {{ naves.name }}  
                        </p>
                        <p class="card-model">
                            {{ naves.model }}
                        </p>
                    </div>
            
                <br>
            </div>
        </div>
    </div>


   
</body>


    
