@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');


*{
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    letter-spacing: 1px;

}


.background {
    background-image: url("/../../assets/background.jpeg");
    overflow: hidden;
}

.card-model {
    font-size: small;
}

.card-title {
    font-size: 30px;
    color: grey;
}


p{
    text-align: center;
    justify-content: center;
}