<!--<p>register works!</p>-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">




  <div class="container justify-content-center">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">

        <div class="register justify-content-center bg-dark p-2 rounded">
          <form class="form-section identity-flow text-center" method="post">
            <img class="h100 mt-3 mb-3" src="/../../assets/logo login.png" alt="login" style="width: 20vw; height: auto; margin: 0; padding: 0; overflow: hidden; justify-content: center; text-align: center;">
            <h1>REGISTER</h1>
            <input
              type="email"
              [(ngModel)]="email"
              name="email"
              placeholder="Email"
              required="required"
            />
            <p></p>
            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Password"
              required="required"
            />
            <p></p>
            <input
              type="password"
              [(ngModel)]="confirmPassword"
              name="password"
              placeholder="Repeat the password"
              required="required"
            />
            <p></p>
            <!--<button class="btn btn-primary mb-3" type="submit" (click)="register()">Register</button>-->
          </form>
        </div>


      </div>
      <div class="col-3"></div>
    </div>
  </div>