<!--<p>footer works!</p>-->
<footer>
  <div class="footer text-center pt-3cd  m-5 justify-content-center text-center">
    <div class="textfooter" >
      <p id="copyright">TM &amp; © Lucasfilm Ltd. All Rights Reserved</p>
      <p>Terms of Use | Additional Content Information | Privacy Policy | Children’s Online Privacy Policy | Your California Privacy Rights | Star Wars at shopDisney 
        | Star Wars Helpdesk | Interest-Based Ads | Do Not Sell My Personal Information
      </p>
    </div>
  </div>
</footer>

        



<!--<div class="col-12 d-flex justify-content-center mt-4">
  <footer itemscope="" itemtype="http://schema.org/WPFooter">
    <section id="utility" class="social">
      <div class="social-links">
        <p>Follow Star Wars:</p>
        <ul id="social-links">
            <li>
              <a class="facebook" href="https://www.facebook.com/StarWars" target="_blank" rel="noopener noreferrer" data-cto="social" title="facebook">
                <span class="facebook-icon"></span>
              </a>
            </li>
            <li>
              <a class="instagram" href="https://www.instagram.com/starwars/" target="_blank" rel="noopener noreferrer" data-cto="social" title="instagram">
                <span class="instagram-icon"></span>
              </a>
            </li>
            <li>
              <a class="twitter" href="https://twitter.com/starwars" target="_blank" rel="noopener noreferrer" data-cto="social" title="twitter">
                <span class="twitter-icon"></span>
              </a>
            </li>
            <li>
              <a class="youtube" href="https://www.youtube.com/user/starwars" target="_blank" rel="noopener noreferrer" data-cto="social" title="youtube">
                <span class="youtube-icon"></span>
              </a>
            </li>
        </ul>
        <span class="sw-kids-container">
          <a class="sw-kids" href="https://starwarskids.com/" target="_blank" title="Star Wars Kids" data-cto="swkids">
            <span class="sw-kids-icon"></span>
          </a>
        </span>
      </div>
    </section>

    <section id="help">
      <div>
        <p id="copyright">TM &amp; © Lucasfilm Ltd. All Rights Reserved</p>
        <ul id="legal">
            <li><a target="_blank" href="http://disneytermsofuse.com/">Terms of Use</a></li>
            <li><a target="_blank" href="http://disney.go.com/guestservices/legalnotices?ppLink=pp_wdig">Additional Content Information</a></li>
            <li><a target="_blank" href="http://disneyprivacycenter.com/">Privacy Policy</a></li>
            <li><a target="_blank" href="https://disneyprivacycenter.com/kids-privacy-policy/english/">Children’s Online Privacy Policy</a></li>
            <li><a target="_blank" href="https://disneyprivacycenter.com/notice-to-california-residents/">Your California Privacy Rights</a></li>
            <li><a target="_blank" href="https://www.shopdisney.com/franchises/star-wars/?CMP=SYN-Dcom&amp;att=StarWars_Footer_Store">Star Wars at shopDisney</a></li>
            <li><a target="_blank" href="https://support.starwars.com/">Star Wars Helpdesk</a></li>
            <li><a target="_blank" href="http://preferences-mgr.truste.com/?type=starwars&amp;affiliateId=115">Interest-Based Ads</a></li>
            <li><a target="_blank" href="https://privacyportal-de.onetrust.com/webform/64f077b5-2f93-429f-a005-c0206ec0738e/0a4f1f0b-7130-421f-971d-ef578c0bce6d">Do Not Sell My Personal Information</a></li>
        </ul>
      </div>
    </section>
  </footer>
</div>

-->