/* You can add global styles to this file, and also import other style files */
* {  
    font-family: Roboto;
    cursor:url(/../../assets/hand.cur), auto;
    background-color: black;
}

/*.url{cursor:url(http://falconmasters.com/img/cursor.gif), auto;}*/

/*
*:hover{
  color: yellow;

}
*/